In [113]:
from env import user, host, password
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

query = '''select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
'''

df = pd.read_sql(query, get_connection('telco_churn'))

In [103]:
df.head().T

,0,1,2,3,4
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ
gender,Female,Male,Male,Male,Female
senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
tenure,9,9,4,13,3
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No
online_security,No,No,No,No,No
online_backup,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No
tech_support,Yes,No,No,No,Yes
streaming_tv,Yes,No,No,Yes,Yes
streaming_movies,No,Yes,No,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check
gender_encoded,1,0,0,0,1
partner_encoded,1,0,0,1,1
dependents_encoded,1,0,0,0,0
phone_service_encoded,1,1,1,1,1
paperless_billing_encoded,1,0,1,1,1
churn_encoded,0,0,1,1,1

In [86]:
telco['total_charges'] = pd.to_numeric(telco['total_charges'], errors='coerce')

In [102]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
senior_citizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
monthly_charges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75
gender_encoded,7043.0,0.495244,0.500013,0.00,0.0,0.00,1.00,1.00
partner_encoded,7043.0,0.483033,0.499748,0.00,0.0,0.00,1.00,1.00
dependents_encoded,7043.0,0.299588,0.458110,0.00,0.0,0.00,1.00,1.00
phone_service_encoded,7043.0,0.903166,0.295752,0.00,1.0,1.00,1.00,1.00
paperless_billing_encoded,7043.0,0.592219,0.491457,0.00,0.0,1.00,1.00,1.00
churn_encoded,7043.0,0.265370,0.441561,0.00,0.0,0.00,1.00,1.00

In [79]:
telco.isnull().sum()

customer_id                              0
gender                                   0
senior_citizen                           0
partner                                  0
dependents                               0
tenure                                   0
phone_service                            0
multiple_lines                           0
online_security                          0
online_backup                            0
device_protection                        0
tech_support                             0
streaming_tv                             0
streaming_movies                         0
paperless_billing                        0
monthly_charges                          0
total_charges                            0
churn                                    0
contract_type                            0
internet_service_type                    0
payment_type                             0
gender_encoded                           0
partner_encoded                          0
dependents_encoded                       0
phone_service_encoded                    0
paperless_billing_encoded                0
churn_encoded                            0
multiple_lines_No phone service          0
multiple_lines_Yes                       0
online_security_No internet service      0
online_security_Yes                      0
online_backup_No internet service        0
online_backup_Yes                        0
device_protection_No internet service    0
device_protection_Yes                    0
tech_support_No internet service         0
tech_support_Yes                         0
streaming_tv_No internet service         0
streaming_tv_Yes                         0
streaming_movies_No internet service     0
streaming_movies_Yes                     0
contract_type_One year                   0
contract_type_Two year                   0
internet_service_type_Fiber optic        0
internet_service_type_None               0
payment_type_Credit card (automatic)     0
payment_type_Electronic check            0
payment_type_Mailed check                0
dtype: int64

In [117]:
telco = df.total_charges.str.strip().replace("", np.nan).astype(float)

In [119]:
telco = df.dropna(inplace=True)

In [22]:
pd.crosstab(df.payment_type, df.payment_type_id)

payment_type_id               1     2     3     4
payment_type
Bank transfer (automatic)     0     0  1544     0
Credit card (automatic)       0     0     0  1522
Electronic check           2365     0     0     0
Mailed check                  0  1612     0     0

In [23]:
pd.crosstab(df.contract_type, df.contract_type_id)

contract_type_id     1     2     3
contract_type
Month-to-month    3875     0     0
One year             0  1473     0
Two year             0     0  1695

In [25]:
pd.crosstab(df.internet_service_type, df.internet_service_type_id)

internet_service_type_id     1     2     3
internet_service_type
DSL                       2421     0     0
Fiber optic                  0  3096     0
None                         0     0  1526

In [26]:
df = df.drop(columns=['payment_type_id', 'contract_type_id', 'internet_service_type_id'])
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [140]:
df['total_charges'] = df.total_charges.str.replace(r'(^ $)', '0.00')

/var/folders/2j/32g17nrx0rj4vvx130_l42kw0000gn/T/ipykernel_14248/3111410145.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['total_charges'] = df.total_charges.str.replace(r'(^ $)', '0.00')

In [141]:
df['total_charges'] = pd.to_numeric(df['total_charges'])
df.describe()

,senior_citizen,tenure,monthly_charges,total_charges,gender_encoded,partner_encoded,dependents_encoded,phone_service_encoded,paperless_billing_encoded,churn_encoded
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,32.371149,64.761692,2279.734304,0.495244,0.483033,0.299588,0.903166,0.592219,0.265370
std,0.368612,24.559481,30.090047,2266.794470,0.500013,0.499748,0.458110,0.295752,0.491457,0.441561
min,0.000000,0.000000,18.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,9.000000,35.500000,398.550000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,0.000000,29.000000,70.350000,1394.550000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,0.000000,55.000000,89.850000,3786.600000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,72.000000,118.750000,8684.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [142]:
for col in df.columns:
    print(df[col].value_counts())
    print()

Male      3555
Female    3488
Name: gender, dtype: int64

0    5901
1    1142
Name: senior_citizen, dtype: int64

No     3641
Yes    3402
Name: partner, dtype: int64

No     4933
Yes    2110
Name: dependents, dtype: int64

1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

Yes    6361
No      682
Name: phone_service, dtype: int64

No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64

No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64

No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64

No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64

No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64

No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64

No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64

Yes    4171
No     2872
Name: paperless_billing, dtype: int64

20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
116.55     1
106.85     1
68.55      1
108.80     1
67.85      1
Name: monthly_charges, Length: 1585, dtype: int64

0.00       11
20.20      11
19.75       9
19.90       8
20.05       8
           ..
2387.75     1
6302.80     1
2058.50     1
829.55      1
3707.60     1
Name: total_charges, Length: 6531, dtype: int64

No     5174
Yes    1869
Name: churn, dtype: int64

Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64

Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

0    3555
1    3488
Name: gender_encoded, dtype: int64

0    3641
1    3402
Name: partner_encoded, dtype: int64

0    4933
1    2110
Name: dependents_encoded, dtype: int64

1    6361
0     682
Name: phone_service_encoded, dtype: int64

1    4171
0    2872
Name: paperless_billing_encoded, dtype: int64

0    5174
1    1869
Name: churn_encoded, dtype: int64

In [32]:
df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})

df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})

df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})

df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})

df['paperless_billing_encoded'] = df.paperless_billing.map({'Yes': 1, 'No': 0})

df['churn_encoded'] = df.churn.map({'Yes': 1, 'No': 0})
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,churn,contract_type,internet_service_type,payment_type,gender_encoded,partner_encoded,dependents_encoded,phone_service_encoded,paperless_billing_encoded,churn_encoded
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,No,One year,DSL,Mailed check,1,1,1,1,1,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,Month-to-month,DSL,Mailed check,0,0,0,1,0,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,Yes,Month-to-month,Fiber optic,Electronic check,0,0,0,1,1,1
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,Yes,Month-to-month,Fiber optic,Electronic check,0,1,0,1,1,1
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Month-to-month,Fiber optic,Mailed check,1,1,0,1,1,1

In [34]:
dummy_df = pd.get_dummies(df[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'tech_support', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'contract_type', \
                              'internet_service_type', \
                              'payment_type'
                            ]],
                              drop_first=True)
dummy_df.head()

,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,0,0,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,0,1,0,1,0,0,...,1,0,1,0,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,1

In [35]:
telco = pd.concat( [df, dummy_df], axis=1 )
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,1,0,0,1,0,0,0,0,0,1
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,0,0,1,0,0,0,0,0,0,1
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,0,0,0,0,0,1,0,0,1,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,1,0,1,0,0,1,0,0,1,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,1,0,0,0,0,1,0,0,0,1

In [129]:
df.head().T

,0,1,2,3,4
gender,Female,Male,Male,Male,Female
senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
tenure,9,9,4,13,3
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No
online_security,No,No,No,No,No
online_backup,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No
tech_support,Yes,No,No,No,Yes
streaming_tv,Yes,No,No,Yes,Yes
streaming_movies,No,Yes,No,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check
gender_encoded,1,0,0,0,1
partner_encoded,1,0,0,1,1
dependents_encoded,1,0,0,0,0
phone_service_encoded,1,1,1,1,1
paperless_billing_encoded,1,0,1,1,1
churn_encoded,0,0,1,1,1

In [126]:
target = 'churn'

def my_train_test_split(df, target):
    
    train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df[target])
    train, validate = train_test_split(train, test_size=.25, random_state=123, stratify=train[target])
    
    return train, validate, test

In [130]:
train_telco, validate_telco, test_telco = my_train_test_split(df, target)

In [133]:
train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.churn)
train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.churn)

In [135]:
print(f'Prepared df: {df.shape}')
print()
print(f'Train: {train_telco.shape}')
print(f'Validate: {validate_telco.shape}')
print(f'Test: {test_telco.shape}')

Prepared df: (7043, 26)

Train: (4225, 26)
Validate: (1409, 26)
Test: (1409, 26)

In [136]:
X_train = train.drop(columns=['churn'])
y_train = train.churn

X_validate = validate.drop(columns=['churn'])
y_validate = validate.churn

X_test = test.drop(columns=['churn'])
y_test = test.churn

In [137]:
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [138]:
clf = clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'Female'

In [139]:
lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
print(metrics.accuracy_score(pred,y_test))

ValueError: could not convert string to float: 'Female'

In [89]:
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,1,0,0,1,0,0,0,0,0,1
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,0,0,1,0,0,0,0,0,0,1
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,0,0,0,0,0,1,0,0,1,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,1,0,1,0,0,1,0,0,1,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,1,0,0,0,0,1,0,0,0,1