In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import warnings
warnings.filterwarnings("ignore")
from env import user, host, password

In [2]:
def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    It takes in a string name of a database as an argument.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
def new_titanic_data():
    '''
    This function reads the titanic data from the Codeup db into a df,
    write it to a csv file, and returns the df.
    '''
    # Create SQL query.
    sql_query = 'SELECT * FROM passengers'
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    
    return df

In [3]:
df = new_titanic_data()

In [4]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [5]:
df = df [['survived', 'pclass', 'sex', 'age', 'fare', 'sibsp', 'parch', 'embark_town', 'alone']]
df.head()

   survived  pclass     sex   age     fare  sibsp  parch  embark_town  alone
0         0       3    male  22.0   7.2500      1      0  Southampton      0
1         1       1  female  38.0  71.2833      1      0    Cherbourg      0
2         1       3  female  26.0   7.9250      0      0  Southampton      1
3         1       1  female  35.0  53.1000      1      0  Southampton      0
4         0       3    male  35.0   8.0500      0      0  Southampton      1

In [6]:
def gender_encoder(gender):
    if gender == 'male':
        return 0
    else:
        return 1

In [7]:
df.sex = df.sex.apply(gender_encoder)
df.head()

   survived  pclass  sex   age     fare  sibsp  parch  embark_town  alone
0         0       3    0  22.0   7.2500      1      0  Southampton      0
1         1       1    1  38.0  71.2833      1      0    Cherbourg      0
2         1       3    1  26.0   7.9250      0      0  Southampton      1
3         1       1    1  35.0  53.1000      1      0  Southampton      0
4         0       3    0  35.0   8.0500      0      0  Southampton      1

In [8]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
fare             0
sibsp            0
parch            0
embark_town      2
alone            0
dtype: int64

In [9]:
df.embark_town = df.embark_town.fillna(value=df.embark_town.mode())

In [10]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
fare             0
sibsp            0
parch            0
embark_town      2
alone            0
dtype: int64

In [11]:
df.age = df.age.fillna(value=df.age.median())

In [12]:
df.head()

   survived  pclass  sex   age     fare  sibsp  parch  embark_town  alone
0         0       3    0  22.0   7.2500      1      0  Southampton      0
1         1       1    1  38.0  71.2833      1      0    Cherbourg      0
2         1       3    1  26.0   7.9250      0      0  Southampton      1
3         1       1    1  35.0  53.1000      1      0  Southampton      0
4         0       3    0  35.0   8.0500      0      0  Southampton      1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   fare         891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   embark_town  889 non-null    object
 8   alone        891 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 62.8+ KB

In [14]:
dummy_df = pd.get_dummies(df[['sex','embark_town']], dummy_na=False, drop_first=[True, True])

# Drop the original columns we encoded
df = df.drop(columns=["sex", "embark_town"])

# Stitch the df and the dummy_df together again
df = pd.concat([df, dummy_df], axis=1)
df.head()

,survived,pclass,age,fare,sibsp,parch,alone,sex,embark_town_Queenstown,embark_town_Southampton
0,0,3,22.0,7.2500,1,0,0,0,0,1
1,1,1,38.0,71.2833,1,0,0,1,0,0
2,1,3,26.0,7.9250,0,0,1,1,0,1
3,1,1,35.0,53.1000,1,0,0,1,0,1
4,0,3,35.0,8.0500,0,0,1,0,0,1

In [15]:
train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.survived)
train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.survived)

In [16]:
X_train = train.drop(columns=["survived"])
y_train = train.survived

X_validate = validate.drop(columns=["survived"])
y_validate = validate.survived

X_test = test.drop(columns=["survived"])
y_test = test.survived

In [17]:
# What is your baseline prediction? What is your baseline accuracy? 
# remember: your baseline prediction for a classification problem is 
# predicting the most prevelant class in the training dataset (the mode). 
# When you make those predictions, what is your accuracy? 
# This is your baseline accuracy.

In [18]:
train.survived.value_counts()

0    307
1    191
Name: survived, dtype: int64

In [19]:
baseline = y_train.mode()

In [52]:
(y_train ==0).mean()

0.6164658634538153

In [20]:
baseline

0    0
Name: survived, dtype: int64

In [21]:
matches_baseline_prediction = (y_train == 0)

baseline_accuracy = matches_baseline_prediction.mean()
print(f"Baseline accuracy: {round(baseline_accuracy, 2)}")

Baseline accuracy: 0.62

In [22]:
# Fit the decision tree classifier to your training sample and transform 
# (i.e. make predictions on the training sample)

In [23]:
# Make the model
tree1 = DecisionTreeClassifier(max_depth=1, random_state=123)

# Fit the model (on train and only train)
tree1 = tree1.fit(X_train, y_train)

# Use the model
# We'll evaluate the model's performance on train, first
y_predictions = tree1.predict(X_train)

In [24]:
# Evaluate your in-sample results using the model score, 
# confusion matrix, and classification report.

In [25]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
      .format(tree1.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.80

In [26]:
# confusion matrix - actual on left, predicted on top
pd.DataFrame(confusion_matrix(y_train, y_predictions))

     0    1
0  265   42
1   58  133

In [27]:
print(classification_report(y_train, y_predictions))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84       307
           1       0.76      0.70      0.73       191

    accuracy                           0.80       498
   macro avg       0.79      0.78      0.78       498
weighted avg       0.80      0.80      0.80       498

In [28]:
report = classification_report(y_train, y_predictions, output_dict=True)
print("Tree of 1 depth")
pd.DataFrame(report)

Tree of 1 depth

                    0           1  accuracy   macro avg  weighted avg
precision    0.820433    0.760000  0.799197    0.790217      0.797255
recall       0.863192    0.696335  0.799197    0.779764      0.799197
f1-score     0.841270    0.726776  0.799197    0.784023      0.797358
support    307.000000  191.000000  0.799197  498.000000    498.000000

In [29]:
# Compute: Accuracy, true positive rate, false positive rate, true negative rate, 
# false negative rate, precision, recall, f1-score, and support.

In [30]:
TP = 265
FP = 58
FN = 42
TN = 133
ALL = TP + FP + FN + TN

accuracy = (TP + TN)/ALL
print(f"Accuracy: {accuracy}")

true_positive_rate = TP/(TP+FN)
print(f"True Positive Rate: {true_positive_rate}")

false_positive_rate = FP/(FP+TN)
print(f"False Positive Rate: {false_positive_rate}")

true_negative_rate = TN/(TN+FP)
print(f"True Negative Rate: {true_negative_rate}")

false_negative_rate = FN/(FN+TP)
print(f"False Negative Rate: {false_negative_rate}")

precision = TP/(TP+FP)
print(f"Precision: {precision}")

recall = TP/(TP+FN)
print(f"Recall: {recall}")

f1_score = 2*(precision*recall)/(precision+recall)
print(f"F1 Score: {f1_score}")

support_pos = TP + FN
print(f"Support (0): {support_pos}")

support_neg = FP + TN
print(f"Support (1): {support_neg}")

Accuracy: 0.7991967871485943
True Positive Rate: 0.8631921824104235
False Positive Rate: 0.3036649214659686
True Negative Rate: 0.6963350785340314
False Negative Rate: 0.13680781758957655
Precision: 0.8204334365325078
Recall: 0.8631921824104235
F1 Score: 0.8412698412698413
Support (0): 307
Support (1): 191

In [31]:
# Run through steps 2-4 using a different max_depth value.

In [32]:
for i in range(2, 21):
    # Make the model
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)

    # Fit the model (on train and only train)
    tree = tree.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    y_predictions = tree.predict(X_train)

    # Produce the classification report on the actual y values and this model's predicted y values
    report = classification_report(y_train, y_predictions, output_dict=True)
    print(f"Tree with max depth of {i}")
    print(pd.DataFrame(report))
    print()

Tree with max depth of 2
                    0           1  accuracy   macro avg  weighted avg
precision    0.820433    0.760000  0.799197    0.790217      0.797255
recall       0.863192    0.696335  0.799197    0.779764      0.799197
f1-score     0.841270    0.726776  0.799197    0.784023      0.797358
support    307.000000  191.000000  0.799197  498.000000    498.000000

Tree with max depth of 3
                    0           1  accuracy   macro avg  weighted avg
precision    0.829341    0.817073  0.825301    0.823207      0.824636
recall       0.902280    0.701571  0.825301    0.801925      0.825301
f1-score     0.864275    0.754930  0.825301    0.809602      0.822337
support    307.000000  191.000000  0.825301  498.000000    498.000000

Tree with max depth of 4
                    0           1  accuracy   macro avg  weighted avg
precision    0.831858    0.842767  0.835341    0.837313      0.836042
recall       0.918567    0.701571  0.835341    0.810069      0.835341
f1-score     0.873065    0.765714  0.835341    0.819390      0.831892
support    307.000000  191.000000  0.835341  498.000000    498.000000

Tree with max depth of 5
                    0           1  accuracy   macro avg  weighted avg
precision    0.852410    0.855422  0.853414    0.853916      0.853565
recall       0.921824    0.743455  0.853414    0.832640      0.853414
f1-score     0.885759    0.795518  0.853414    0.840639      0.851149
support    307.000000  191.000000  0.853414  498.000000    498.000000

Tree with max depth of 6
                    0           1  accuracy   macro avg  weighted avg
precision    0.838983    0.930556  0.865462    0.884769      0.874104
recall       0.967427    0.701571  0.865462    0.834499      0.865462
f1-score     0.898638    0.800000  0.865462    0.849319      0.860807
support    307.000000  191.000000  0.865462  498.000000    498.000000

Tree with max depth of 7
                    0           1  accuracy   macro avg  weighted avg
precision    0.887850    0.875706  0.883534    0.881778      0.883193
recall       0.928339    0.811518  0.883534    0.869929      0.883534
f1-score     0.907643    0.842391  0.883534    0.875017      0.882617
support    307.000000  191.000000  0.883534  498.000000    498.000000

Tree with max depth of 8
                    0           1  accuracy   macro avg  weighted avg
precision    0.874636    0.954839  0.899598    0.914737      0.905396
recall       0.977199    0.774869  0.899598    0.876034      0.899598
f1-score     0.923077    0.855491  0.899598    0.889284      0.897156
support    307.000000  191.000000  0.899598  498.000000    498.000000

Tree with max depth of 9
                    0           1  accuracy   macro avg  weighted avg
precision    0.905488    0.941176  0.917671    0.923332      0.919176
recall       0.967427    0.837696  0.917671    0.902562      0.917671
f1-score     0.935433    0.886427  0.917671    0.910930      0.916637
support    307.000000  191.000000  0.917671  498.000000    498.000000

Tree with max depth of 10
                    0           1  accuracy   macro avg  weighted avg
precision    0.931250    0.949438  0.937751    0.940344      0.938226
recall       0.970684    0.884817  0.937751    0.927750      0.937751
f1-score     0.950558    0.915989  0.937751    0.933274      0.937300
support    307.000000  191.000000  0.937751  498.000000    498.000000

Tree with max depth of 11
                    0           1  accuracy   macro avg  weighted avg
precision    0.964401    0.952381  0.959839    0.958391      0.959791
recall       0.970684    0.942408  0.959839    0.956546      0.959839
f1-score     0.967532    0.947368  0.959839    0.957450      0.959799
support    307.000000  191.000000  0.959839  498.000000    498.000000

Tree with max depth of 12
                    0           1  accuracy   macro avg  weighted avg
precision    0.959248    0.994413  0.971888    0.976831      0.972735
recall       0.996743    0.931937  0.971888    0.964340      0.971888
f1-score     0.977636    0.962162  0.971888    0.969899      0.971701
support    307.000000  191.000000  0.971888  498.000000    498.000000

Tree with max depth of 13
                    0           1  accuracy   macro avg  weighted avg
precision    0.971519    1.000000  0.981928    0.985759      0.982442
recall       1.000000    0.952880  0.981928    0.976440      0.981928
f1-score     0.985554    0.975871  0.981928    0.980713      0.981840
support    307.000000  191.000000  0.981928  498.000000    498.000000

Tree with max depth of 14
                    0           1  accuracy   macro avg  weighted avg
precision    0.983974    1.000000   0.98996    0.991987      0.990121
recall       1.000000    0.973822   0.98996    0.986911      0.989960
f1-score     0.991922    0.986737   0.98996    0.989330      0.989934
support    307.000000  191.000000   0.98996  498.000000    498.000000

Tree with max depth of 15
                    0           1  accuracy   macro avg  weighted avg
precision    0.990323    1.000000  0.993976    0.995161      0.994034
recall       1.000000    0.984293  0.993976    0.992147      0.993976
f1-score     0.995138    0.992084  0.993976    0.993611      0.993967
support    307.000000  191.000000  0.993976  498.000000    498.000000

Tree with max depth of 16
                    0           1  accuracy   macro avg  weighted avg
precision    0.990323    1.000000  0.993976    0.995161      0.994034
recall       1.000000    0.984293  0.993976    0.992147      0.993976
f1-score     0.995138    0.992084  0.993976    0.993611      0.993967
support    307.000000  191.000000  0.993976  498.000000    498.000000

Tree with max depth of 17
                    0           1  accuracy   macro avg  weighted avg
precision    0.990323    1.000000  0.993976    0.995161      0.994034
recall       1.000000    0.984293  0.993976    0.992147      0.993976
f1-score     0.995138    0.992084  0.993976    0.993611      0.993967
support    307.000000  191.000000  0.993976  498.000000    498.000000

Tree with max depth of 18
                    0           1  accuracy   macro avg  weighted avg
precision    0.990323    1.000000  0.993976    0.995161      0.994034
recall       1.000000    0.984293  0.993976    0.992147      0.993976
f1-score     0.995138    0.992084  0.993976    0.993611      0.993967
support    307.000000  191.000000  0.993976  498.000000    498.000000

Tree with max depth of 19
                    0           1  accuracy   macro avg  weighted avg
precision    0.990323    1.000000  0.993976    0.995161      0.994034
recall       1.000000    0.984293  0.993976    0.992147      0.993976
f1-score     0.995138    0.992084  0.993976    0.993611      0.993967
support    307.000000  191.000000  0.993976  498.000000    498.000000

Tree with max depth of 20
                    0           1  accuracy   macro avg  weighted avg
precision    0.990323    1.000000  0.993976    0.995161      0.994034
recall       1.000000    0.984293  0.993976    0.992147      0.993976
f1-score     0.995138    0.992084  0.993976    0.993611      0.993967
support    307.000000  191.000000  0.993976  498.000000    498.000000

In [33]:
# Which model performs best on your out-of-sample data, the validate set?

In [34]:
# Let's continue getting loopy, so we can compare in-sample to out-of-sample
metrics = []

for i in range(2, 25):
    # Make the model
    tree = DecisionTreeClassifier(max_depth=i, random_state=123)

    # Fit the model (on train and only train)
    tree = tree.fit(X_train, y_train)

    # Use the model
    # We'll evaluate the model's performance on train, first
    in_sample_accuracy = tree.score(X_train, y_train)
    
    out_of_sample_accuracy = tree.score(X_validate, y_validate)

    output = {
        "max_depth": i,
        "train_accuracy": in_sample_accuracy,
        "validate_accuracy": out_of_sample_accuracy
    }
    
    metrics.append(output)
    
df = pd.DataFrame(metrics)
df["difference"] = df.train_accuracy - df.validate_accuracy
df

    max_depth  train_accuracy  validate_accuracy  difference
0           2        0.799197           0.761682    0.037515
1           3        0.825301           0.799065    0.026236
2           4        0.835341           0.794393    0.040949
3           5        0.853414           0.799065    0.054348
4           6        0.865462           0.789720    0.075742
5           7        0.883534           0.775701    0.107833
6           8        0.899598           0.785047    0.114552
7           9        0.917671           0.794393    0.123278
8          10        0.937751           0.789720    0.148031
9          11        0.959839           0.822430    0.137409
10         12        0.971888           0.794393    0.177495
11         13        0.981928           0.808411    0.173516
12         14        0.989960           0.794393    0.195567
13         15        0.993976           0.808411    0.185565
14         16        0.993976           0.794393    0.199583
15         17        0.993976           0.794393    0.199583
16         18        0.993976           0.794393    0.199583
17         19        0.993976           0.794393    0.199583
18         20        0.993976           0.794393    0.199583
19         21        0.993976           0.794393    0.199583
20         22        0.993976           0.794393    0.199583
21         23        0.993976           0.794393    0.199583
22         24        0.993976           0.794393    0.199583

In [35]:
df[df.difference <= 0.10].sort_values(by=['validate_accuracy', 'difference'], ascending = [False,True])

   max_depth  train_accuracy  validate_accuracy  difference
1          3        0.825301           0.799065    0.026236
3          5        0.853414           0.799065    0.054348
2          4        0.835341           0.794393    0.040949
4          6        0.865462           0.789720    0.075742
0          2        0.799197           0.761682    0.037515

In [36]:
def new_telco_data():
    '''
    This function reads the telco data from the Codeup db into a df.
    '''
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('telco_churn'))
    
    return df
df = new_telco_data()

In [37]:
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [38]:
def prep_telco(df):
    df = df.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])

    df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
    df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
    df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
    df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
    df['paperless_billing_encoded'] = df.paperless_billing.map({'Yes': 1, 'No': 0})
    df['churn_encoded'] = df.churn.map({'Yes': 1, 'No': 0})
    
    dummy_df = pd.get_dummies(telco[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'tech_support', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'contract_type', \
                              'internet_service_type', \
                              'payment_type'
                            ]],
                              drop_first=True)
    telco = pd.concat( [df, dummy_df], axis=1 )
    
    return telco

In [39]:
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [45]:
df = df.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])

In [50]:
 df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})

AttributeError: 'Series' object has no attribute 'gender'

In [ ]:
df.head()